{% block content_list_item %}
    {% set block_id = content._id|default %}
    {% if content.text|default %}
        <li class="block--content-list-item {{ content.attr_class|default }}" data-cms-block-id="{{ block_id }}" {{ sulu_block_preview(content) }}>
            {% if content.link|default %}
                <a href="{{ content.link }}" target="{{ view.link.target }}">{{ content.text|nl2br }}</a>
            {% else %}
                {{ content.text|nl2br }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}
